<!DOCTYPE html>
<html lang="en">

{% include "head.njk" %}

<body>
    <main>
        {{ content | safe }}
    </main>

    <aside>
        <h2>Explore the Jungle</h2>
        <ul>
            {% for node in collections.nodes %}
            <li><a href="{{ node.url }}">{{ node.data.title }}</a></li>
            {% endfor %}
        </ul>
    </aside>
</body>

</html>