
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Shrikhand&display=swap');

body {
    font-family: 'Georgia', serif, "Shrikhand", serif;
    line-height: 1.6;
    background-color: #446A46f4;
    color: #222;
    padding: 2rem;
    text-transform: lowercase;
}

.shrikland {
    font-family:"Shrikhand", serif;

};

h1 {
    text-transform: uppercase;
}

a {
    color: #FFFDF6;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

