body {
    /* font-family: 'Georgia', serif, "Shrikhand", serif;
     */
     font-family: "Space Mono", monospace;
    font-weight: 200;
    font-style: normal;
    line-height: 0.5;
    background-color: #446A46f4;
    color: #FFFDF6;
    padding: 3rem;
    text-transform: lowercase;
}

#flowerbody {
    background-image: url('a/i/flower1.jpg');
    background-repeat: no-repeat;
    background-size:auto;
}

#shrikland {
    font-family:"Shrikhand", serif;
    color: #FFFDF6;
    display: block; 
    position: relative; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    font-size: 10vw;
    padding-top:100px;
    letter-spacing: 0.4rem;

};

h1 {
    text-transform: uppercase;
}

a {
    color: #FFFDF6;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

